.task-time-tracker-tag-mapping .setting-item-info {
	display: none;
}

.task-time-tracker-tag-mapping .setting-item-control {
	justify-content: flex-start;
	flex-wrap: wrap;
}

.task-time-tracker-emoji-input {
	width: 4em;
}

.task-time-tracker-style-label {
	color: var(--text-muted);
	font-size: var(--font-ui-smaller);
}

.task-time-tracker-bold {
	font-weight: bold;
}

.task-time-tracker-italic {
	font-style: italic;
}

.task-time-tracker-underline {
	text-decoration: underline;
}

.task-time-tracker-prompt-error {
	color: var(--text-error);
	min-height: 1.5em;
	margin: 0;
}
